.img-container img {
  width: 91px;
}
.orders-item-container {
  display: flex;
  border: 1px solid #95a0a7;
  width: 571px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 8px;
}
.review-item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  align-items: center;
}
.item-details p {
  margin: 0;
}
.delete-btn-wrapper {
  border-radius: 50%;
  border: none;
  padding: 20px;
}
.delete-btn-wrapper:hover {
  background-color: #93d0f3;
  cursor: pointer;
}
.delete-btn {
  color: #ee5454;
  font-size: 31px;
}
